.account {
  width: 45rem;
  padding: .5rem 1rem;
  display: block;
  background: #fff;
  margin: .5rem auto;
  border-radius: .15rem;
  max-width: calc(100% - 3rem);

  img {
    border-radius: .15rem;
  }
}