.school {
  .school-header {
    h2 {
      color: #444;
      text-align: center;
    }
  }

  .supply-lists {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .supply-list-card{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 25rem;
      padding: .5rem 1rem;
      border-radius: .15rem;
      background: #fff;
      margin:.25rem 0;

      a {
        background: #fff;
        width: 25rem;
        border-radius: .25rem;
        text-decoration: none;
        color: #444;

        &:visited {
          color: #444;
        }
      }
    }
  }
}