.school {
  .school-header {
    h2 {
      color: #444;
      text-align: center;
    }
  }

  .supply-lists {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    a {
      padding: .5rem 1rem;
      background: #fff;
      width: 25rem;
      border-radius: .25rem;
      text-decoration: none;
      color: #444;

      &:visited {
        color: #444;
      }
    }
  }
}