.add-supply{
  label{
    display: block;
    margin: .5rem 0;

    input{
      display: block;
      width: 100%;
    }

    textarea{
      border:solid #ddd .15rem;
      border-radius: .15rem;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }
  button{
    width: 100%;
  }
}