.editing-supply {
  label {
    display: block;
    box-sizing: border-box;
    margin: .5rem 0;

    input {
      width: 100%;
    }
  }
}

.supply-item{
  padding:.1rem .5rem;
  &:nth-child(even){
    border-radius: .25rem;
    background: #f1f2f6;
  }
  .supply-desc{
    color: #4c566a;
  }
}
