.create-role{
  display: block;

  textarea{
    display: block;
  }

  input{
    display: block;
  }

  .resources{
    .resources{
      display: block;
    }
    input{
      display: inline-block;
    }
  }
}